body {
    margin: 0px;
}

.header {
    width: 100%;
    height: 80px;
    background-color: rgb(82, 12, 82);
    position: fixed;
    z-index: 1;
}

.navbar {
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    padding: 0;
}

.navLogo {
    min-width: 50px;
    width: 15%;
    height: 100%;
    background-color: rgb(141, 26, 141);
    display: flex;
}

.imgLogo {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-top: 5px;
}

#imgSpec {
    width: 100px;
    height: 25px;
    margin-left: 10px;
    margin-top: 10px;
}

.navAba {
    height: 100%;
    width: 15%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selecionada {
    min-width: 70px;
    background-color: rgb(141, 26, 141);
}

.normal {
    background-color: rgb(61, 10, 61);
}

#quadrado {
    width: 40px;
    height: 40px;
    background-color: rgb(141, 26, 141);
    background-image: url('.././assets/imgs/3barras.html.png');
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    cursor: pointer;
    display: none;
}

#textoMeio {
    width: 10%;
    height: 90%;
    margin-left: 45%;
    margin-top: 10px;
    font-family: "Arial Black";
    position: absolute;
    display: none;
    justify-content: center;
    text-align: center;
}

.navSpec {
    width: 90%;
    height: 85%;
    margin-top: 3px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 1em;
    font-family: "Arial Black";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comHover:hover {
    cursor: pointer;
    background-color: rgb(73, 12, 73);
}

.faixa {
    width: 100%;
    height: 40px;
    background-color: rgb(141, 26, 141);
}

/*
Pagina
*/
.bloco {
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
}

.bloco .page {
    width: 80%;
    height: 1500px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#abaSelecao {
    width: 50%;
    height: 100%;
    margin-top: 40px;
    background-color: rgb(141, 26, 141);
    position: fixed;
    right: 0;
    z-index: 1;
    display: none;
}
.abaClicavel {
    width: 90%;
    height: 100px;
    background-color: rgb(73, 12, 73);
    font-family: "Arial Black";
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.headerRepo {
    width: 100%;
    height: 80px;
}

.postcardPlaceholder {
    width: 50%;
    height: 35.54%;
    perspective: 1000px;
}

.postcardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.postcardPlaceholder:hover .postcardInner {
    transform: rotateY(180deg);
}

.postcardFront, .postcardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.postcardBack {
    background-image: url(".././assets/imgs/postcardBack.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    transform: rotateY(180deg);
}

.postalNewsletter {
    width: 100%;
}